
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


body {
    background-color: rgb(209, 114, 201);
}

*{
color: rgb(255, 255, 255);
text-decoration: none;
 

}


p{
  text-shadow: 0 0 5px #771b51, 0 0 5px #8f1a8f;
  font-weight: 600;
  margin: 0 auto;
  color: white;
}

.logo{

  margin-top: 5rem;
  width: 250px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
button {
  width: 128px;
  height: 50px;
  border-radius: 50px;
background-color:white;
color:  rgb(117, 99, 116);

}

.main{
  align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    position: relative;
    text-align: center;
    z-index: 1;
}

.bx{
  text-shadow: 0 0 5px #771b51, 0 0 5px #8f1a8f;
  margin: 0 auto;
  color: white;
  font-size: 50px;
  gap: 10px;

  align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    position: relative;
    text-align: center;
    z-index: 1;
}

